  <div class='users'>
  <section class='userinfo'>
        <span class='userinfo__header--username'>username</span>
        <i class="far fa-edit edit"></i>
        <i class="fas fa-cogs gear"></i>
  </section>

  <section class='usergroup'>
    <div class='usergroup-list'>
      <ul class='usergroup'>
        <li class='usergroup-name'>groupname</li>
        <li class='usergroup-new-message'>newmessage</li>
      </ul>
    </div>
  </section>
  </div>


<div class='messages'>
  <section class='messages__group-nav'>
      <span class='messages__group-name'>
        groupname
      </span>
      <span class='messages__edit-btn'>
        Edit
      </span>
      <p class='messages__member'>
        member
      </p>
  </section>
  <section class='messages__show'>
    <div class='messages__show_name'>
        name
    </div>
    <div class='messages__show_message'>
        message
    </div>
  </section>
  <section class='message__send'>
    <div class='message__send_input'>
      <i class="far fa-image image"></i>
    </div>
    <span class='messages__send-btn'>
        Send
    </span>
  </section>


</div>



