.users
  %section.userinfo
    %span.userinfo__header--username
      = current_user.name
    %ul.userinfo__header--lists
      %li
      =link_to new_group_path do
        =fa_icon 'edit',class: 'icon'
      %li
      =link_to edit_user_path(current_user) do
        =fa_icon 'cog',class: 'icon'

  .usergroups
    .usergroup-list
      - current_user.groups.each do |group|
        = link_to group_messages_path(group) do
          .usergroup-name
            = group.name
          .usergroup-new-message
            = group.show_last_message
/ .side-bar
/   .header
/     %h3.header__name
/       = current_user.name
/     %ul.header--lists
/       %li.list
/       =link_to new_group_path do
/         =fa_icon 'edit',class: 'icon'
/       %li.list
/       =link_to edit_user_path(current_user) do
/         =fa_icon 'cog',class: 'icon'

/   .groups
/     - current_user.groups.each do |group|
/       .group
/         = link_to group_messages_path(group) do
/           .group-name
/             = group.name
/           .group-new-message
/             = group.show_last_message
